version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: split
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: splitbill
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  # backend:
  #   image: split-bill-backend:local # recommended: build locally with podman build -t split-bill-backend:local ./backend
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   environment:
  #     DATABASE_URL: ${DATABASE_URL}
  #     MINIO_ENDPOINT: ${MINIO_ENDPOINT}
  #     MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
  #     MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
  #     PORT: 8000
  #     JWT_SECRET: ${JWT_SECRET}
  #     JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - db
  #     - minio
  #   restart: unless-stopped


volumes:
  db_data:
  minio_data:
